<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>landing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#banner">MovieReel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#banner">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#multi_1">Fantasy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#multi_2">Horror</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#multi_3">Comedy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#multi_4">Romance</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row line_0">
        <div id="banner" class="carousel slide" data-ride="carousel" data-interval="6000">
          <div id="main-banner" class="carousel-inner">

          </div>
        </div>
      </div>
    </div>


    <div class="container main-box">
      <div class="row line_1">
        <!--wrapper-->
        <div id="multi_1" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false">
          <h3>Fantasy</h3>
          <!--indicators-->
          <ul class="carousel-indicators">
            <li data-target="#multi_1" data-slide-to="0" class="active"></li>
            <li data-target="#multi_1" data-slide-to="1"></li>
            <li data-target="#multi_1" data-slide-to="2"></li>
          </ul>

          <!--start of a carousel inner-->
          <div id="fantasy" class="carousel-inner">

              <!-- html generated in main.js-->

           </div> <!--end of a carousel inner-->

           <!--controls for multi_1-->
           <div class="controls">
             <a class="left carousel-control-prev" href="#multi_1" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
             </a>
             <a class="right carousel-control-next" href="#multi_1" data-slide="next">
               <span class="carousel-control-next-icon"></span>
             </a>
           </div>

         </div> <!--end of a carousel-->
       </div>

       <div class="row line_2">
         <!--wrapper-->
         <div id="multi_2" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false">
          <h3>Horror</h3>
           <!--indicators-->
           <ul class="carousel-indicators">
             <li data-target="#multi_2" data-slide-to="0" class="active"></li>
             <li data-target="#multi_2" data-slide-to="1"></li>
             <li data-target="#multi_2" data-slide-to="2"></li>
           </ul>

           <!--start of a carousel inner-->
           <div id="horror" class="carousel-inner">

              <!-- html generated in main.js-->

            </div> <!--end of a carousel inner-->

            <!--controls for multi_1-->
            <div class="controls">
              <a class="left carousel-control-prev" href="#multi_2" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="right carousel-control-next" href="#multi_2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>

          </div> <!--end of a carousel-->
        </div>

        <div class="row line_3">
          <!--wrapper-->
          <div id="multi_3" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false">
           <h3>Comedy</h3>
            <!--indicators-->
            <ul class="carousel-indicators">
              <li data-target="#multi_3" data-slide-to="0" class="active"></li>
              <li data-target="#multi_3" data-slide-to="1"></li>
              <li data-target="#multi_3" data-slide-to="2"></li>
            </ul>

            <!--start of a carousel inner-->
            <div id="comedy" class="carousel-inner">

              <!-- html generated in main.js-->

             </div> <!--end of a carousel inner-->

             <!--controls for multi_1-->
             <div class="controls">
               <a class="left carousel-control-prev" href="#multi_3" data-slide="prev">
                 <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="right carousel-control-next" href="#multi_3" data-slide="next">
                 <span class="carousel-control-next-icon"></span>
               </a>
             </div>

           </div> <!--end of a carousel-->
         </div>

         <div class="row line_4">
           <!--wrapper-->
           <div id="multi_4" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false">
            <h3>Romance</h3>
             <!--indicators-->
             <ul class="carousel-indicators">
               <li data-target="#multi_4" data-slide-to="0" class="active"></li>
               <li data-target="#multi_4" data-slide-to="1"></li>
               <li data-target="#multi_4" data-slide-to="2"></li>
             </ul>

             <!--start of a carousel inner-->
             <div id="romance" class="carousel-inner">

              <!-- html generated in main.js-->

              </div> <!--end of a carousel inner-->

              <!--controls for multi_1-->
              <div class="controls">
                <a class="left carousel-control-prev" href="#multi_4" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="right carousel-control-next" href="#multi_4" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>

            </div> <!--end of a carousel-->
          </div>

     </div> <!--container-->
  </body>
</html>
